{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block header %}
<div class="container">
<div class="">
<h1>Administrer votre profil</h1>
</div>
</div>
{% endblock %}


{% block section %}

{% endblock %}
