{% extends 'base.html.twig' %}

{% block title %}Accueil!
{% endblock %}

{% block header %}
	<div class="container">
		<div class="">
			<h1>Bienvenue sur le Blog de voyage</h1>
		</div>
	</div>
{% endblock %}

{% block section %}
    <div class="container">
        <div class="">
            ce blog compile différents voyage que nous partageons
        </div>
    </div>
{% endblock %}
