{% extends 'base.html.twig' %}

{% block title %}New Trip{% endblock %}


{% block header %}
<div class="container pt-5">
<div class="d-flex flex-column align-items-center">
	<div class="">
		<h1>Créer un nouveau Voyage</h1>
	</div>
    <div class="col-6 d-flex justify-content-end">
         <a href="{{ path('trip_index') }}">Annuler</a>
    </div>
</div>
</div>
{% endblock %}

{% block section %}

<div class="container">
    {{ include('trip/_form.html.twig') }}
</div>
   
{% endblock %}
