body {
    background-color: lightgray;
}

/* photo profile */
.sizeProfile
{
    width: 4rem;
    height: 3rem;
}
/* photo profile */

/* trip card */
.tripCard
{
    width: 100%;
    height: 10rem;
    object-fit: cover;
   
}
/* trip card */

/* photo show */
.photoSize
{
    width: 100%;
    height: 18rem;
}
/* photo show */

/* particular photo */
.particularPhoto
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}